semple_psd/.phpcs.xml.dist
semple_psd/.travis.yml
semple_psd/404.php
semple_psd/LICENSE
semple_psd/archive.php
semple_psd/bin/
semple_psd/comments.php
semple_psd/page.php
semple_psd/search.php
semple_psd/sidebar.php
semple_psd/single.php
